html{
  --top-bar: 2.8rem;
}

body {
  max-height: 100vh;
  font-size: 2.2rem ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: -2%;
  line-height: 117%;
} 

a:hover{
  color:#0040e4;
}

::-moz-selection { /* Code for Firefox */
  color: #cecece;
  background: white;
}

::selection {
  color: #cecece;
  background: white;
}

                
header{
  /* background-color: aqua; */
  padding-left: 0.5rem;
  position: relative;
  width: 100vw;
  height: var(--top-bar);
  overflow-y: hidden;
  overflow-x: scroll; 
  white-space: nowrap;  

}


/* .automatic-scroll{
  display: inline-block;
    white-space: nowrap;
  animation: scroll 5s linear infinite;
}  */
/* @keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
} */

.issues-container {
  display: flex;
  height: calc(100vh - var(--top-bar));
}

section {
  height: calc(100vh - var(--top-bar));
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: calc(0.2 * var(--top-bar));
  /* background-color: gray; */
  /* border-left: 1px solid yellow;
  border-right: 1px solid yellow; */
  /* make each section equal width, when divided by the number of sections*/
  /* each section has to be scrollable vertically on its own */
}
section:first-child, section:last-child {
  border: none;

}


.overlay{
  display: none;
  position: fixed;
  width: inherit;
  height: 100%;
  
  background-color: rgb(255, 255, 255);
  
  pointer-events:none;
  text-align: center;
  

}
.overlay-name{
  line-height: calc(100vh - var(--top-bar));
  font-family:sans-serif;
  /* font-weight: bold; */

}

.active-nametag{
  text-decoration: underline;
}

.coming-soon-nametag{
  cursor:not-allowed;
}

.section-nametag{
  font-family:sans-serif;
  /* font-weight: bold; */
  /* transition: 1s; */
}



section:hover > .overlay {
  display:none;
}



#issue1{
  width: 40%;
}

.note{
  /* font-size: 1rem;
  margin-left: 10%;
  line-height: 1.2; */
  margin-top: 2rem;
}

.indent-note{
  margin-top: 2rem;
  margin-left: 5rem;
}

.interview-1, .interview-2{
  margin-left: 5rem;
  text-indent: -5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem ;
}



#issue2{
  width:30%;
}

.numbers-container{
  text-align: center;
}

#issue3{
  width:30%;
}

.issue3-image{
  width: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.screensaver-style{
  background-color: black;
  
}
.screensavers{
  position: fixed;
  color: #ffffff;
  left: 0%;
   animation: screensavers 2s linear forwards infinite alternate;
  
}

@keyframes screensavers {
  /* 20%{
    transform: translate(4vw, 0);
    
  }
  40%{
    transform: translate(4vw, -4vw);
   
  }

  60%{
    transform: translate(0, -4vw);
   
  }

  80%{
    transform: translate(0, -8vw);
   
  }

  100%{
    transform: translate(4vw, -8vw);
    
  }*/

  100% {
    
    transform: translate(3rem,0);

  }
}





/* .issue3-image:first-child{
  margin-top: 5rem;

} */




@media only screen and (max-width: 600px) {
  
  html{
    --top-bar: 2rem;
  }
  body {
    font-size: 1.6rem;
  }
  #issue1{
    width: 70%
  } #issue2, #issue3{
    width: 15%;
  }
  .issue3-image{
    width: 3rem;
  }
  
  }
 


.prevent-select {
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}


#welcome {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 2rem;
  width: calc(100vw - 4rem);
  margin: auto;
  border: none;
  max-height: 50vh;
  background:#ffffff;
  filter: drop-shadow(0 0 2rem #eaeaea);
}

.welcome-info{
  width: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.welcome-close{
display: flex;
} 

.close-button {
  position: relative;
  bottom: 0.6rem;
 cursor: pointer;

}

#welcome:target {
  display: none;
}