html{
  --top-bar: 2.1rem;
}

body {
  font-size: 2rem ;
}

                
header{
  /* background-color: aqua; */
  width: 100vw;
  height: var(--top-bar);
  overflow-y: hidden;
  overflow-x: scroll; 
  white-space: nowrap;  
}


/* .automatic-scroll{
  display: inline-block;
    white-space: nowrap;
  animation: scroll 5s linear infinite;
}  */
/* @keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
} */

.issues-container {
  display: flex;
}

section {
  height: calc(100vh - var(--top-bar));
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-color: gray; */
  /* border-left: 1px solid yellow;
  border-right: 1px solid yellow; */
  /* make each section equal width, when divided by the number of sections*/
  /* each section has to be scrollable vertically on its own */
}
section:first-child, section:last-child {
  border: none;

}


.overlay{
  position: fixed;
  width: inherit;
  height: 100%;
  
  background-color: rgb(255, 255, 255);
  
  pointer-events:none;
  text-align: center;
  

}
.overlay-name{
  line-height: calc(100vh - var(--top-bar));
  font-family:sans-serif;
  font-weight: bold;
}
.section-nametag{
  font-family:sans-serif;
  font-weight: bold;
}

section:hover > .overlay {
  display:none;
}



#issue1{
  width: 60%;

}

.note{
  /* font-size: 1rem;
  margin-left: 10%;
  line-height: 1.2; */
  margin-top: 2rem;
}

.interview-1, .interview-2{
  margin-left: 5rem;
  text-indent: -5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem ;
}



#issue2{
  width: 6%;
}

.numbers-container{
  text-align: center;
}

#issue3{
  width: 34%;
}

.issue3-image{
  width: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.issue3-image:first-child{
  margin-top: 5rem;

}




@media only screen and (max-width: 600px) {
  #issue1{
    width: 70%
  }
  } #issue2, #issue3{
    width: 15%;
  }


.prevent-select {
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}